.ct-series-a .ct-slice-pie {
    fill: #00b300; /*Done*/
  }
.ct-series-b .ct-slice-pie {
fill: #0086b3; /*InProgress*/
}
.ct-series-c .ct-slice-pie {
fill: #ff8000; /*Paused*/
}
.ct-series-d .ct-slice-pie {
fill: #75a3a3; /*Queue*/
}

.ct-label {
    fill: #f0f5f5;
    font-family: Arial;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em;
}