
@model SwH.Models.UserCredentials;

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/views/changepassword.css">

<div id="loginContainer">
    <div class="ui huge header">Change Password<i class="lock icon"></i></div>

    @Html.Partial("~/Views/InfoMessage.cshtml")

    @using (Html.BeginForm("ChangePassword", "Login"))
    {
        @Html.AntiForgeryToken()
        <div class="ui form">
            <div class="field">
                <label>Old password</label>
                <input type="password" name="oldPassword" required autofocus>
            </div>
            <div class="field">
                <label>New password</label>
                <input type="password" name="newPassword" required>
            </div>
            <div class="field">
                <label>Confirm new password</label>
                <input type="password" name="confPassword" required>
            </div>
            <button class="ui button primary fullWidth btnBottomMargin" type="submit">Save</button>
        </div>
    }
</div>